div#error
  div#box
  h3 Update in Progress
  br
  p we are working hard to bring the site back as soon as possiable. 
  p for urgent assistance please contact now@gndclouds.cc
  //- p #[span please stand by] 